<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>keyname</key>
		<string>8:00 - 10:00</string>
	</dict>
	<dict>
		<key>keyname</key>
		<string>10:00 - 12:00</string>
	</dict>
	<dict>
		<key>keyname</key>
		<string>12:00 - 14:00</string>
	</dict>
	<dict>
		<key>keyname</key>
		<string>14:00 - 16:00</string>
	</dict>
	<dict>
		<key>keyname</key>
		<string>16:00 - 18:00</string>
	</dict>
	<dict>
		<key>keyname</key>
		<string>18:00 - 20:00</string>
	</dict>
	<dict>
		<key>keyname</key>
		<string>20:00 - 22:00</string>
	</dict>
</array>
</plist>
