<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>keyname</key>
		<string>在线支付</string>
		<key>iconname0</key>
		<string>empty_choice.png</string>
		<key>iconname1</key>
		<string>full_choice.png</string>
	</dict>
	<dict>
		<key>keyname</key>
		<string>货到付款</string>
		<key>iconname0</key>
		<string>empty_choice.png</string>
		<key>iconname1</key>
		<string>full_choice.png</string>
	</dict>
</array>
</plist>
